@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Karla",;
}
.h {
  background-image: url('/Images/download (8) 1.png');
  background-position: center;
  background-size: contain;
}